.intro{
    -webkit-animation-name: blues;
    -webkit-animation-duration: 5s;
    animation-name: blues;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
div{
    background-color: #1C1C1C;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
@keyframes blues {
    0% {color: #4F77AA;}
    25% {color: #78AED3;}
    50% {color: #AAC9DD;}
    75% {color: #78AED3;}
    100% {color: #4F77AA;}
}

.headers {
    font-family: 'Geneva';
    color: antiquewhite;
}